<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
{% include header.html %}
<img width="125" height="398" alt="picture of Tahoe"
     src="assets/images/tahoe_2.JPG" class="leftdecoration">
<div class="mainbody">
    {% assign one_day = 86400 %}
    {% assign workshop_len = 345600 %}
    {% assign startdate = site.data[page.year].dates.startdate %}
    {% assign offset = one_day | times: page.day %}
    {% assign sched_date = startdate | date: "%s" | plus: offset %}
	{% assign sched_key = sched_date | date: "%A" | downcase %}
    <h3 align="center">{{sched_date | date: "%A, %B %-d"}}<br>{{page.title}}</h3>
    <h3 align="center">{{page.location}}</h3>
    
	{% assign today = site.data[page.year].schedule.sessions | where_exp: 'item', 'item.days contains sched_key' %}
	{% if today %}
		{% assign sched = today | sort: 'time' %}
		{% for session in sched %}
		{% include session.html session=session %}
		{% endfor %}
    {% endif %}
</div>
<script>
    $("a.tooltip").click(function() {
        $(this).children(".abstract_text").toggleClass("visible");
    });
</script>

{% include footer.html %}
</body>
</html>
